<a href="https://colab.research.google.com/github/priyatham-18/Homework/blob/main/implementation_of_decision_tree_with_iris_dataset_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
from sklearn.metrics import classification_report
from sklearn import preprocessing

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [10]:
iris=pd.read_csv('/content/drive/MyDrive/iris.csv')

In [11]:
label_encoder = preprocessing.LabelEncoder()
iris['Species']=label_encoder.fit_transform(iris['Species'])
iris['Species']

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: Species, Length: 150, dtype: int64